body {
	margin: 0;
	background-color:rgba(33, 3, 68, 0.966);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
  }
  
  .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: transparent;
	position: fixed;
	width: 100%;
	margin-top: 5px;
	padding-bottom: 0;
	right: 5px;
  }
  
  /*logo*/
  
  .logo {
	width: 220px;
	height: 200px;
	margin-top: -60px;
	align-items: left;
	margin-left: 20px;
  }
  
  /*navbar positioning*/
  
  .nav a {
	color: white;
	float: left;
	display: inline;
	text-align: right;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 500;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: -60px;
  }
  
  .nav li a:hover {
	background-color: white;
	color: dodgerblue;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  }
  
  .nav li {
	list-style: none;
	display: inline-block;
  }