@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 25px;
  margin: 0;
   background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  scroll-behavior: smooth;
}

body{
  background-color:rgba(33, 3, 68, 0.966);
}
/*logo*/

.logo {
  width: 220px;
  height: 200px;
  margin-top: -60px;
  align-items: left;
  margin-left: 20px;
}

/*navbar positioning*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: transparent;
  position: top;
  width: 100%;
  margin-top: -50px;
  padding-bottom: 0;
  right: 5px;
}

/*navbar color*/

.nav a {
  color: white;
  float: left;
  display: inline;
  text-align: right;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  
  margin-top: -60px;
}

/*navbar hover*/

.nav li a:hover {
  background-color: white;
  color: rgba(33, 3, 68, 0.966);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.nav li {
  list-style: none;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

@media(max-width: 750px){
  nav,ul{
    flex-wrap: wrap;
    text-align: center;
    }
  
    li{ 
      width: 100%;
    }
  
    .menu{
      display: none;
      transition: .2s;
    }
  
    .fa{
      font-size: 20px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      cursor: pointer;
      color: white;
      
    }
  
  }

/*cards*/

.d-cards {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 5em;
}

.p-card {
  align-items: center;
  justify-content: center;
  width: 300px;
  position: relative;
  margin-top: -50px;
  background: #fafafa;
  box-shadow: 0 2px 7px #030303;
  border-radius: 0 0 12px 12px;
  display: inline-block;
}

.p-card:hover{
      transform: scale(1.1);
    transition: all .3s ease;
  }

.badge {
  position: relative;
  left: 0;
  max-width: 30%;
  top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(33, 3, 68, 0.966);;
  padding: 3px 10px;
  color:white;
}

.p-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  padding: 10px;
  object-fit: cover;
  border-radius: 0 0 12px 12px;
  background-color: white;
}

.p-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px #333;
}

/*pop-up animation	on hover*/

.p-img img:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}

.p-details {
  padding: 14px;
}

.p-category {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 18px;
  display: block;
}

.p-details h4 a {
  font-weight: 700;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #333;
}

.p-details h4 a:hover {
  color: rgba(33, 3, 68, 0.966);
}

.p-details p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 18px;
}

.p-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.p-bottom-details div {
  float: left;
  width: 50%;
}

.p-price {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.p-price small {
  font-size: 75%;
  font-weight: 700;
  color: #999;
  display: inline-block;
  text-decoration: line-through;
  margin-right: 5px;
}

.p-links {
  text-align: right;
}

.p-links a {
  display: inline-block;
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  transition: all .3s ease;
}

.p-links a:hover {
  color: rgba(33, 3, 68, 0.966);
  transform: scale(1.5);
  transition: all .3s ease;
}

}